<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
   </configSections>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
   </startup>
   <akka>
      <hocon>
        
        //1.Use this config for enable cluster, that's all
         <![CDATA[
					akka {
						actor { 
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
						}
            
        //2.Here is the helios Config , set it as loopback    , Tell it to listen
						remote {
							helios.tcp {
								hostname = 127.0.0.1 //If no address then 0.0.0.0
								port = 0 //Tell system any free port in the local machine
							}
						}
                  cluster {
         //3. Once I have the node setup and listen, I need a seed node from Lighthouse  
         //          akka.tcp://MyActorSystem@127.0.0.1:4053
         //        Protocal     Remote & local  Remote Address & Port 
         //         TCp is good   Actor system
							seed-nodes = ["akka.tcp://MyActorSystem@127.0.0.1:4053"]

         //Need to setup lightHouse as seed nodes
						}
					}
			]]>
      </hocon>
   </akka>
</configuration>